@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Terminal aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #14532d; 
}
::-webkit-scrollbar-thumb:hover {
  background: #15803d; 
}
